# Machine properties
MACHINE_NAME=ghost
MACHINE_DRIVER=virtualbox

# Digital ocean
DIGITAL_ACCESS_TOKEN=
DIGITAL_IMAGE=ubuntu-16-04-x64
DIGITAL_SIZE=512mb

# Services
SERVICE_GHOST_PORT=2368:2368
SERVICE_GHOST_VOLUME=/opt/ghost:/var/lib/ghost

SERVICE_CERTBOT_EMAIL=
SERVICE_CERTBOT_DOMAINS="-d blog.xergioalex.com"